.add-restaurant {
  background: none;
  border: 0;
  color: #fff;
  font-size: 30px;
  height: 40px;
  width: 40px;
  line-height: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
}
