.App {
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  background: #eaf4f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.weeat-filter {
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 40px;
  padding: 0 10px;
}
