.header {
  background: #000;
  background-image: url('../../images/header.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 30px;
  position: relative;
  text-align: center;
}

.logo {
  font-size: 60px;
}
